<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>

<body>
    <div id="app" class="back-ground">
        <!-- creo contenitore unico -->
        <div class="container">
            <!-- contenitore sinistro -->
            <div class="left-side">
                <div class="left-top">
                    <div class="profile">
                        <div class="user-picture">
                            <img src="./img/219186053_10222321436158285_8652781936297959677_n.jpg" alt=""
                                class="profile-picture">
                            <a href="" class="user-name">Elia</a>
                        </div>
                        <div class="user-icon">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div class="alert-notifications">
                        <div class="fa-solid">
                            <i class="fa-solid fa-bell-slash fa-2x"></i>
                        </div>
                        <div class="notifiche">
                            <h6>Ricevi notifiche di nuovi messaggi</h6>
                            <a href="">attiva notifiche desktop</a>
                        </div>
                    </div>
                    <!-- input per filtrare i contatti -->
                    <div class="search-user">
                        <input v-model="searchUser" type="text" name="" id="" placeholder="cerca o inizia una nuova chat">
                    </div>
                </div>
                <!-- lista di contatti -->
                <div class="left-bottom-contacts">
                    <div v-for="(contact, index) in filteredContacts()" :key="index" class="contacts-container" 
                        :class="{
                            'active': index == currentActiveUser
                        }">
                        <!--:class="index === currentActiveUser ? 'contacts-container active' : 'contacts-container'">-->
                        <div class="contact" @click="selectUser(index)">
                            <div class="contact-info">
                                <img :src="contact.avatar" alt="" class="avatar">
                            </div>
                            <div class="div">
                                <p class="name">{{ contact.name }}</p>
                                <span class="last-message">Ultimo messaggio inviato</span>
                                <span class="last-message-time">12:00</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- lato destro -->
            <div class="right-side">
                <div class="chat-header">
                    <div class="chat-profile-picture">
                        <div class="img-profile-pic">
                            <img :src="contacts[currentActiveUser].avatar" alt="" class="avatar">
                        </div>
                        <div class="chat-profile-name">
                            <div class="name">{{contacts[currentActiveUser].name}}</div>
                            <span>Ultimo accesso oggi alle 12:00</span>
                        </div>
                    </div>
                    <div class="chat-tools">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div class="chat-container">
                    <div v-for="(message, index) in contacts[currentActiveUser].messages" class="chat-messages"
                        :class="message.status">
                        <div class="single-message-item">
                            <i @click="deleteComment(message, index)" class="fa-regular fa-circle-xmark"></i>
                            <div class="message-text">{{message.message}}</div>
                            <div class="message-time">{{message.date}}</div>
                        </div>
                    </div>
                </div>
                <div class="chat-footer">
                    <a href=""><i class="fa-regular fa-face-smile"></i></a>
                    <input v-model="newMessageText" type="text" @keyup.enter="pushTheMessage"
                        placeholder="scrivi un messaggio">
                    <a href=""><i class="fa-solid fa-microphone"></i></a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body>

</html>